@model AbsensiApps.Models.Absen

<h2>Soal no 1(Input Data)</h2>

<form asp-action="Create" method="post">
    <table>
        <tr>
            <td><label for="NIK">NIK - Nama:</label></td>
            <td>
                <select asp-for="NIK" asp-items="ViewBag.NIKList" required>
                    <option value="">-- Pilih Pegawai --</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="TanggalAbsen">Tgl Absen:</label></td>
            <td><input asp-for="TanggalAbsen" type="date" required /></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">Save</button></td>
        </tr>
    </table>
</form>
